version: "3.9"
services:
  web:
    build: .
    container_name: product-manager-web
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/product_manager
      - JWT_SECRET=change_me_super_secret
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: product-manager-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
